{{!-- <div class="text-center">
  <h2>{{title}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  {{!-- <p>{{description}}</p>
<p>Created by {{user.name}} on {{format_date date_created}}</p> {{!created by {{user.name?}}
  {{!-- <p>
    <span for="img" arias-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}
  {{!-- <p>
    <button class="btn btn-primary">Look at this blog!</button>
  </p>
</div>

<main class="container-fluid">
    <form>
  <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    </form>
    
  </main> --}}


<h1>blog</h1>

{{!-- <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- blog preview-->
            <div class="blog-preview">
                <a href="/blog/{{blog.id}}">
                    {{!-- must be blog by id --}}
                    <h2 class="blog-title">{{blog.name}}</h2>
                </a>
                <p class="blog-meta">
                    {{blog.description}}
                </p>

                <p>By: {{user.username}}</p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>

    </div>
</div> --}}
