{{!-- {{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h1>Homepage</h1>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->

      <a href="/blog/{{blog.id}}">{{blog.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount blog.needed_funding}}</span>
      needed!
    </p>

    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}} --}}
<div>
<h1>Homepage</h1>


<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    {{#each blogs as |blog|}}
{{> blogs}}    
    {{/each}}
  </div>
</div></div>